* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(120deg, #f7ce49, #fdb63b);
    font-family: 'Julius Sans One', sans-serif;
    text-align: center;
}

h1 {
    font-size: 45px;
    font-weight: 600;
    margin-top: 45px;
    padding-top: 15px;
    
}

header {
    margin: 0px 400px 0px 400px;
    background-color: rgb(253, 253, 253);
}

.past {
    background-color: #d3d3d3;
}

.now {
    background-color: #ff6961;
}

.future {
    background-color: #77dd77;
}

td.time {
    background-color: rgb(255, 255, 255);
    border-right: rgb(185, 185, 185) solid 1px ;
}

td.description {
    padding: 0px;
}

td.saveBtn {
    background-color: #77bbdd;
    color: white;
    padding: 20px 10px 10px 10px;
    border: solid rgb(92, 92, 92) px;
    margin: 0px; 
}

textarea {
    background-color: #ffffff;
    width: 100%;
    border: none;
    resize: none;
}
.container {
    width: 712px;
}

tbody {
    border-top:  solid 1px rgb(185, 185, 185);
    padding-top: 600px;
}

#currentDate {
    margin-bottom: 0px;
    padding: 10px 0px 30px 0px;
    text-decoration: underline ;
}